* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    width: 100vw;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: 1em;
    min-height: 100vh;
    background: linear-gradient(lavender, #ebf8e1, pink);
}

.chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 50px;
    counter-reset: chart;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 10px;
}

.title {
    text-align: center;
    padding-top: 0.5em;
    font-size: 1.2em;
    font-weight: 500;
    word-wrap: break-word;
}

.header > .title {
    font-size: 2em;
    font-weight: 700;
}

.description {
    word-wrap: break-word;
    font-size: 1em;
    text-align: center;
    font-weight: 400;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    z-index: 50;
    top: 0;
    left: 0;
    opacity: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    backdrop-filter: blur(5px);
    font-size: smaller;
}

.treemap-label {
    color: #000;
    width: 100%;
    height: 100%;
    font-size: 8px;
    padding: 2px;
    overflow: hidden;
    text-overflow: text-ellipsis;
}

.chart-type {
    font-size: 1.5em;
    text-transform: capitalize;
    vertical-align: middle;
    margin-top: 1em;
}

.chart-type::before {
    counter-increment: chart;
    content: counter(chart) ".";
    margin-right: 0.2em;
}

.target {
    inline-size: 10px;
    block-size: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.footer a {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.footer a:hover {
    font-weight: bold;
}